/*!
 * PhotoSphereViewer.MapPlugin 5.7.3
 * @copyright 2024 Damien "Mistic" Sorel
 * @licence MIT (https://opensource.org/licenses/MIT)
 */
/* src/style.scss */
.psv-container {
  --psv-map-plugin-loaded: true;
}
.psv-map {
  position: absolute;
  margin: 10px;
  z-index: 40;
  transition: all ease-in-out 0.3s;
}
.psv--has-navbar .psv-map {
  margin-bottom: calc(40px + 10px);
}
.psv-map__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(61, 61, 61, 0.7);
  overflow: hidden;
  border-radius: 50%;
  transition: all ease-in-out 0.3s;
}
.psv-map__container svg,
.psv-map__container img,
.psv-map__container canvas {
  width: 100%;
  height: 100%;
}
.psv-map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.psv-map__toolbar {
  position: absolute;
  bottom: 1em;
  left: calc(50% - 3.25em);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 12px sans-serif;
  padding: 0.25em;
  border-radius: 1.5em;
  background: #222;
  color: white;
  user-select: none;
  transition: opacity ease-in-out 0.3s;
}
.psv-map__toolbar svg {
  height: 1em;
  cursor: pointer;
}
.psv-map__toolbar-text {
  width: 4em;
  text-align: center;
}
.psv-map__button {
  position: absolute;
  width: 34px;
  aspect-ratio: 1;
  line-height: 0;
  background: rgba(61, 61, 61, 0.7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.psv-map__button svg {
  width: 60%;
}
.psv-map__button--top-left {
  left: 14.645%;
  top: 14.645%;
  transform: translate(-32.021px, -32.021px);
}
.psv-map__button--top-right {
  right: 14.645%;
  top: 14.645%;
  transform: translate(32.021px, -32.021px);
}
.psv-map__button--bottom-left {
  left: 14.645%;
  bottom: 14.645%;
  transform: translate(-32.021px, 32.021px);
}
.psv-map__button--bottom-right {
  right: 14.645%;
  bottom: 14.645%;
  transform: translate(32.021px, 32.021px);
}
.psv-map--maximized {
  margin: 0;
  width: 100% !important;
  height: 100% !important;
}
.psv--has-navbar .psv-map--maximized {
  height: calc(100% - 40px) !important;
  margin-bottom: 40px;
}
.psv-map--maximized .psv-map__container {
  border-radius: 0;
}
.psv-map--maximized .psv-map__button {
  border: 2px solid currentcolor;
}
.psv-map--maximized .psv-map__button--top-left {
  left: 44px;
  top: 44px;
}
.psv-map--maximized .psv-map__button--top-right {
  right: 44px;
  top: 44px;
}
.psv-map--maximized .psv-map__button--bottom-left {
  left: 44px;
  bottom: 44px;
}
.psv-map--maximized .psv-map__button--bottom-right {
  right: 44px;
  bottom: 44px;
}
.psv-map--collapsed {
  width: 34px !important;
  height: 34px !important;
}
.psv-map--collapsed > * {
  opacity: 0;
}
.psv-map--collapsed .psv-map__button-close {
  opacity: 1;
  transform: translate(0, 0);
  z-index: 1;
}
.psv-map--top-left {
  top: 0;
  left: 0;
}
.psv-map--top-right {
  top: 0;
  right: 0;
}
.psv-map--bottom-left {
  bottom: 0;
  left: 0;
}
.psv-map--bottom-right {
  bottom: 0;
  right: 0;
}
/*# sourceMappingURL=index.css.map */